*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    src: URL(bars.png);
}
.klocek{
    height: 400vh;
}
html{
    overflow-x: hidden;
    

}
/* nawigacja i obrazek*/
.drugiULcomp, .pierwszyULcomp, .drugiULmobile, .pierwszyULmobile{
    display: none;
}
.nawigacja{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    background-color: gray;
    z-index: 10;
    
}


.img-class{
    height: 60px;
    width: 60px;
    position: relative;
    top: 0;
    left: 0;
}
.pierwszyULmobile a{
    text-decoration: none;
    color: black
}
.img-class:hover .pierwszyULmobile {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: gray;
    height: 240px;
    width: 40vw;
    line-height: 60px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    animation: slide 0.5s ease-out forwards;

}
.child{
    text-decoration: none;
    color: honeydew;
    font-size: 20px;
    transition: color 0.3s linear;
    
}

.pokazMobile:hover .drugiULmobile{
    list-style-type: none;
    position: absolute;
    left: 40vw;
    top: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    animation: slideRight 0.5s ease-out forwards;
    background-color: gray;
    height: 120px;
    width: 30vw;
    line-height: 40px;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.divNav{
    position: relative;
    top: 0;
    position: sticky;
}




#ikona{
    display: inline-block;
    line-height: 60px;
    margin-top: 5px;
    margin-left: 2vw;
    height: 50px;
    width: 50px;

    cursor: pointer;
}

.headerZdjecie{
        
    display:block;
    position: relative;
    margin-top: 60px;
    background-image: URL("Kosciolek.jpg");
    width: 100vw;
    height: 40vh;
    background-position: center;
    display: flex;  
    z-index: 2;
    
}
.headerZdjecie::after{
    /* z-index: 3; */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.tekstZdjecie{
    height: 40vh;
    width: 100vw;
    display: flex;
    font-size: 50px;
    color: red;
    text-shadow: 5px 5px 20px;
    text-align: center;
    justify-content: center;
    align-items: center; 
}


/* Main */
.zdjecie{
    margin-top: 30px;
    margin-left: 2vw;
    display: block;
    position: absolute;
    width: 30vw;
    height: 30vw;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: URL("LSO.png");
}

.glowne{
    margin-top: 30px;
    display: flex;
    width: 65vw;
    margin-left: 33vw;
    position: absolute;
    
   
}

.tytulMain{
    font-size: 20px;
    margin-right: 3vw;
    text-align: center;
    position: absolute;
}
.opisMain{
    font-size: 15px;
    margin-right: 3vw;
    /* text-align: justify; */
    position: relative;
}


@media (min-width: 768px){
    #ikona, .pierwszyULmobile, .drugiULmobile, .img-class{
        display: none;
    }
    
    .pierwszyULcomp{
        font-weight: 500;
        position: relative;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
        justify-content: space-evenly;
        line-height: 60px;
        
    }
    .pierwszyULcomp a{
        color: black;
    }
    .pierwszyULcomp a:hover{
        color: honeydew;
        cursor: pointer;
    }
    .drugiULcomp{
        position: absolute;
        top: 60px;
        box-sizing: content-box;
        width: 110.3px;
        background: linear-gradient(0deg, #c3c3c3, gray);
        border-left: 5px groove black;
        border-right: 5px groove black;
        border-bottom: 5px groove black;
        list-style-type: none;
        text-align: center;
        line-height: 50px;
        z-index: 20;
        
    }
    
    .pokaz:hover ul {
        display: block;
        z-index: 5;
        opacity: 0;
        visibility: visible;
        animation: slide 0.5s ease-out forwards;
    }
    
    .drugiULcomp li{
        height: 50px;
        
    }
    .drugiULcomp a{
        color: black;
        font-weight: 500;
        text-decoration: none;
        font-size: 1em;
        transition: color 0.3s linear;
    }
    .drugiULcomp a:hover{
        color: honeydew;
    }
    
    
    .zdjecie{
        width: 250px;
        height: 250px;
    }
    .glowne{
        display: flex;
        width: calc(100vw - 250px);
        margin-left: 290px;
        position: absolute;  
    }
    .opisMain{
        font-size: 23px;
    }
    .tytulMain{
        font-size: 33px;
    }
    .headerZdjecie{
        height: 45vh;
        background-size: cover;
        
    }
    .tekstZdjecie{
        height: 45vh;
        font-size: 60px;
    }
    
}
@media(min-width: 992px){
    .headerZdjecie{
        height: 60vh;
        
    }
    .opisMain{
        font-size: 28px;
    }
    .tytulMain{
        font-size: 38px;
    }

    .tekstZdjecie{
        font-size: 70px;
        height: 60vh;
    }
}

@media(min-width: 1400px){
    
    .opisMain{
        font-size: 32px;
    }
    .tytulMain{
        font-size: 42px;
    }
    .tekstZdjecie{
        font-size: 80px;
    }
    .nawigacja, .pierwszyULcomp {
        height: 90px;   
        line-height: 90px;
    } 
    .pierwszyULcomp a{
        font-size: 27px;
    }
    .drugiULcomp{
        box-sizing: content-box;
        width: 148.89px;
        top: 90px;
    }
    .drugiULcomp > li{
        line-height: 70px;
        height: 70px; 
    }
    .headerZdjecie{
        margin-top: 90px;
    }
    
}




@keyframes slide {
    from {
      opacity: 0;
      transform: translateY(-30%);
      
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
